body{
    margin-top: 51px;
    color: #666e73;
    font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.navbar{
    height: 51px;
}

.doc{
    padding: 10px !important;
    margin-top: 4px;
}

.footer, .footer2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer{
    background: #222222;
}
.footer p{
    color: #e1e1e1;
}
.footer2{
    background: #2f2f2f;
}
.footer2 p, .footer2 h1{
    color: #e1e1e1;
}
h5, .h5{
    font-weight: bold !important;
}
p, li{
    line-height: 30px;
}
.rf-section{
    background: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.link_w{
    color: #e1e1e1;
}
.align-center{
    text-align: center;
}
.bg-blue{
    background-color: #1b70e0;
}
.txt-blue{
    color: #1b70e0;
}
.bg-white{
    background-color: white;
}
.bg-light{
    background: #f2f2f2;
}
.bg-dark{
    background: #2f2f2f;
}
.row1{
    background: #2f2f2f;
    color: #e1e1e1;
}
.carousel-control.right, .carousel-control.left{
    background-image: none !important;
}
.carousel-indicators li, .carousel-indicators .active{
    background-color: lightgray;
}
.well{
    background-color: white;
    height: 200px;
}
.well h4{
    color: #428bca;
}
.well p{
    color: #666e73;
}
.well:hover{
    background-color: #1b70e0;
    color: white;
}
.well:hover h4{
    color: white;
}
.well:hover p{
    color: white;
}
.well:hover a{
    color: white;
}