body{
    margin-top: 51px;
}

.navbar{
    height: 51px;
}

.doc{
    padding: 10px !important;
    margin-top: 4px;
}

.footer, .footer2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer{
    background: #222222;
}
.footer p{
    color: white;
}
.footer2{
    background: #2f2f2f;
}
.footer2 p, .footer2 h1{
    color: white;
}
h5, .h5{
    font-weight: bold !important;
}
p, li{
    line-height: 30px;
}
.rf-section{
    background: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.link_w{
    color: white;
}
.align-center{
    text-align: center;
}
.bg-blue{
    background-color: #1b70e0;
}
.carousel-control.right, .carousel-control.left{
    background-image: none !important;
}