body {
	padding-top: 50px;
	font-size: 13px;
}

ul.fancytree-container {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-sidebar>li>a {
	position: relative;
	display: block;
	padding: 4px 2px;
}

.main {
	padding: 40px 15px;
	text-align: center;
}

.ui-fancytree {
	border: 0 none !important;
}

.apiRequestType {
	
}

.rf-col-btn {
	cursor: pointer;
}

#response-wrapper pre {
	word-break: normal;
	word-wrap: normal;
}